.page-footer {
    background: #000;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
}
.swiper-pagination {
    position: relative!important;
    margin-top: 15px;
}
.scrollhide {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.scrollhide::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}